.question{
    background: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    padding: 24px;

    // adiconar uma margem top apartir do segundo elemento com o mesmo nome do elemento pai
    & + .question{
        margin-top: 8px;
    }

    p{
        color: #29292e;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;

        .user-info{
            display: flex;
            align-items: center;

            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            > span{
                margin-left: 8px;
                color: #737380;
                font-size: 14px;
            }
        }

        > div:nth-child(2){
            display: flex;
            gap: 16px;
        }

        button{
            border: 0;
            background: transparent;
            cursor: pointer;
            gap: 8px;

            &.like-button{
                display: flex;
                align-items: center;
                color: #737380;

                &.liked{
                    color: #835af3;

                    svg path{
                        stroke: #835af3;
                    }
                }
            }

            &:hover{
                filter: brightness(0.8);
            }
        }
    }
}